// Colors
$color-1: #444BFF;
$color-2: #111111;
$color-3: #FFFFFF;
$color-4: #667085;
$color-5: #C11574;
$color-6: #027847;
$color-7: #000000;
$color-8: #818284;
$color-9: #6456AE;
$color-10: #67B3C3;
$color-11: #B86384;
$color-12: #7B974D;
$color-13: #607BC2;
$color-14: #BD8636;
$color-15: #666666;
$color-16: #B5B5B5;
$color-17: #6864FF;
$color-18: #C115741A;
$color-19: #444BFF1A;
$color-20: #0278471A;
$color-21: #E4E6E9;
$color-22: #E6E6FF;
$color-23: #DDFEF6;
$color-24: #FFEFF7;
$color-25: #E5FFB3;
$color-26: #D7EDFE;
$color-27: #FCF7DA;
$color-28: #FAFBFCCC;
$color-29: #FAFBFC00;
$color-30: #F4F5F7;

// Font Weights
$font-weight-light: 400;
$font-weight-regular: 600;
$font-weight-bold: 700;
