# Ignore system and cache files
.AppData/
*.idx
*.cdp
.android/
.gitconfig
.insomniac/
.vscode/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
OneDrive/
Pictures/
Saved Games/
Searches/
Unnamed Site 4/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
